node_modules
bower_components
dist
Dampak Positif dan Negatif Internet
Internet adalah

Dampak positif:
1.Bisa saling bertukar Informasi.
2.Bisa mencari segala informasi
3.Bisa saling berkomunikasi

Dampak negetif:
1.Bisa sakit jiwa kalau salah informasi

